# VerificationWeb3VerificationStatus

## Example Usage

```java
import com.clerk.backend_api.models.components.VerificationWeb3VerificationStatus;

VerificationWeb3VerificationStatus value = VerificationWeb3VerificationStatus.UNVERIFIED;
```


## Values

| Name         | Value        |
| ------------ | ------------ |
| `UNVERIFIED` | unverified   |
| `VERIFIED`   | verified     |
| `FAILED`     | failed       |
| `EXPIRED`    | expired      |